body {
    background-color: #594D3E;
}

.container {
    width  : 960px;
    margin : 0 auto;
}

.container:after{
    clear   : both;
    display : table;
    content : '';
}

.logo{
    width: 250px;
    margin-left: 37%;
}

.barContainer{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 15px 0;
    background-color: #403522;
    opacity: 30%;
    border-radius: 5px;
    transition: 2s;
}

.barContainer:hover{
    opacity: 100%;
    transition: .4s;
}

.barForm{
    width: 100%;
}

.barForm>img{
    width: 32px;
    margin: 0 5px;
    float: left;
}

.barForm>input{
    width: 90%;
    font-size: 1.3rem;
    padding: 4px 8px;
    margin: 0 15px;
    border: none;
    background-color: #403522;
    color: #F2E5D5;
}

.barForm>input:focus{
    outline: none;
}

.bg-items {
    padding: 20px;
    width  : 240px;
    height : 160px;
    margin : 20px;
    background-color: #D9C8B4;
    float  : left;
    cursor : pointer;
    box-shadow : 3px 3px 5px 0px rgba(0,0,0,0.5);
}

.items {
    width  : 240px;
    height : 160px;
    position: relative;
    overflow: hidden;
    background-color: #102B46;
}

.details {
    background-color : rgba(0,0,0,0.5);
    width            : 220px;
    height           : 140px;
    padding          : 10px;
    top : 0;
    left: 0;
    font-family : georgia;
    color       : #F2E5D5;
    opacity : 0;
    transition : opacity .8s;
}

.details h3 {
    margin : 5px 0 20px;
}

.details h6 {
    text-align : right;
    margin-top : 40px;
}

.details p {
    font-size : 14px;
    font-style: italic;
    text-align: center;
    line-height : 20px;
}

.items:hover .details {
    opacity : 1;
    transition : opacity .2s .3s;
}

.items div {
    position : absolute;
}

/* one */

.bg-items:nth-child(15n-14) .l {
    left   : 100%;
    bottom : 100%;
    width : inherit;
    height: inherit;
    background-color : #594D3E;
    transition   : all .3s;
}

.bg-items:nth-child(15n-14)>.items:hover>.l {
    transition   : all .3s;
    left   : 0;
    bottom : 0;
}

/* two */

.bg-items:nth-child(15n-13) .l {
    width : inherit;
    height: inherit;
    background-color : #594D3E;
    transition   : all .3s;
    left   : 0;
    bottom : 100%;
}

.bg-items:nth-child(15n-13)>.items:hover>.l {
    transform : rotate(180deg);
    left   : 0;
    bottom : 0;
    transition   : all .3s;
}

/* three */

.bg-items:nth-child(15n-12) .l {
    left : 0;
    top  : 0;
    width : inherit;
    height: inherit;
    background-color : #594D3E;
    transition   : all .3s;
    transform: scale(0,0);
}

.bg-items:nth-child(15n-12)>.items:hover>.l {
    left : 0;
    top  : 0;
    transform : scale(1,1);	
    transition : all .3s;
}

/* four */

.bg-items:nth-child(15n-11) .l {
    width : inherit;
    height: inherit;
    background-color : #594D3E;
    transition   : all .3s;
    left : 0;
    top  : 0;
    transform: scale(0,0) rotate(0deg);
}

.bg-items:nth-child(15n-11)>.items:hover>.l {
    left : 0;
    top  : 0;
    transform: scale(1,1) rotate(1080deg);
    transition   : all .3s;
}

/* five */

.bg-items:nth-child(15n-10) .l {
    border-top   : 161px solid #594D3E;
    border-right : 241px solid transparent;
    top  : -160px;
    left : -240px;
    transition   : all .3s;			
}

.bg-items:nth-child(15n-10) .ll {
    border-bottom : 161px solid #594D3E;
    border-left   : 241px solid transparent;
    bottom : -160px;
    right  : -240px;
    transition   : all .3s;			
}

.bg-items:nth-child(15n-10)>.items:hover>.l {
    top  : 0;
    left : 0;
    transition   : all .3s;
}

.bg-items:nth-child(15n-10)>.items:hover>.ll {
    bottom : 0;
    right  : 0;
    transition   : all .3s;
}

/* six */

.bg-items:nth-child(15n-9) .l {
    width  : 120px;
    height : 80px;
    background-color: #594D3E;
    top  : -80px;
    left : -240px;
    transition   : all .3s;			
}

.bg-items:nth-child(15n-9) .ll {
    width  : 120px;
    height : 80px;
    background-color: #594D3E;
    top   : -80px;
    right : -240px;
    transition   : all .3s;			
}

.bg-items:nth-child(15n-9) .lll {
    width  : 120px;
    height : 80px;
    background-color: #594D3E;
    bottom: -80px;
    right : -240px;
    transition   : all .3s;
}

.bg-items:nth-child(15n-9) .lV {
    width  : 120px;
    height : 80px;
    background-color: #594D3E;
    bottom : -80px;
    left   : -240px;
    transition   : all .3s;
}

.bg-items:nth-child(15n-9)>.items:hover>.l {
    top  : 0;
    left : 0;
    transition   : all .3s;
}

.bg-items:nth-child(15n-9)>.items:hover>.ll {
    top   : 0;
    right : 0;
    transition   : all .3s;
}

.bg-items:nth-child(15n-9)>.items:hover>.lll {
    bottom : 0;
    right  : 0;
    transition   : all .3s;
}

.bg-items:nth-child(15n-9)>.items:hover>.lV {
    bottom : 0;
    left   : 0;
    transition   : all .3s;
}

/* seven */

.bg-items:nth-child(15n-8) .l {
    width  : 240px;
    height : 160px;
    top    : 0;
    background-color : #594D3E;
    opacity : 0;
    transition   : all .3s;
}

.bg-items:nth-child(15n-8)>.items:hover>.l {
    opacity    : 1;
    transition : all .3s;
}

/* eight */

.bg-items:nth-child(15n-7) .l {
    top           : 30%;
    left          : 10%;
    border-right  :  100px solid transparent;
    border-bottom :  70px  solid #594D3E;
    border-left   :  100px solid transparent;
    transform: rotate(35deg) scale(0,0);
    transition : all .6s;
}

.bg-items:nth-child(15n-7) .l:before {
    border-bottom: 80px solid #594D3E;
    border-left  : 30px solid transparent;
    border-right : 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);			   
}

.bg-items:nth-child(15n-7) .l:after {
    position: absolute;
    display: block;
    color: #594D3E;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #594D3E;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}

.bg-items:nth-child(15n-7)>.items:hover>.l {
    transform: rotate(35deg) scale(3.5,3.5);
    transition : all .6s;
}

/* nine */

.bg-items:nth-child(15n-6) .l {
    width : 0;
    height: 0;
    top   : 50%;
    left  : 50%;
    background-color: #594D3E;
    border-radius : 50%;
    transition : all .3s;
}

.bg-items:nth-child(15n-6)>.items:hover>.l {
    width : 340px;
    height: 260px;
    top   : -50px;
    left  : -50px;
    transition : all .6s;

}

/* ten */

.bg-items:nth-child(15n-5)>.items>div:not(.details) {
    width  : inherit;
    height : 40px;
    background-color: #594D3E;
    left   : 100%;
}

.bg-items:nth-child(15n-5) .l {
    top : 0;
    transition : all .2s;
}

.bg-items:nth-child(15n-5) .ll {
    top : 40px;
    transition : all .4s;
}

.bg-items:nth-child(15n-5) .lll {
    top : 80px;
    transition : all .6s;
}

.bg-items:nth-child(15n-5) .lV {
    top : 120px;
    transition : all .8s;
}

.bg-items:nth-child(15n-5)>.items:hover>.l {
    left : 0;
    transition : all .2s;			
}

.bg-items:nth-child(15n-5)>.items:hover>.ll {
    left : 0;
    transition : all .4s;
}

.bg-items:nth-child(15n-5)>.items:hover>.lll {
    left : 0;
    transition : all .6s;
}

.bg-items:nth-child(15n-5)>.items:hover>.lV {
    left : 0;
    transition : all .8s;
}

/* eleven */

.bg-items:nth-child(15n-4)>.items>div:not(.details) {
    width  : inherit;
    height : 40px;
    background-color: #594D3E;
    transition : all .3s;
}

.bg-items:nth-child(15n-4) .l {
    top : 0;
    left : -100%;
}

.bg-items:nth-child(15n-4) .ll {
    top : 40px;
    left : 100%;
}

.bg-items:nth-child(15n-4) .lll {
    top : 80px;
    left : -100%;
}

.bg-items:nth-child(15n-4) .lV {
    left : 100%;
    top  : 120px;
}

.bg-items:nth-child(15n-4)>.items:hover>div:not(.details) {
    left : 0;
    transition : all .4s ;
}

/* twelve */

.bg-items:nth-child(15n-3)>.items>div:not(.details) {
    width  : inherit;
    height : 40px;
    background-color: #594D3E;
    transition : all .3s;
    top : -40px;
}

.bg-items:nth-child(15n-3) .l {
    transition : all .1s;
}

.bg-items:nth-child(15n-3) .ll {
    transition : all .1s .1s;
}

.bg-items:nth-child(15n-3) .lll {
    transition : all .1s .2s;
}

.bg-items:nth-child(15n-3) .lV {
    transition : all .1s .3s;
}

.bg-items:nth-child(15n-3)>.items:hover>.l {
    top : 120px;
    transition : all .2s;
}

.bg-items:nth-child(15n-3)>.items:hover>.ll {
    top : 80px;
    transition : all .2s .2s ;
}

.bg-items:nth-child(15n-3)>.items:hover>.lll {
    top : 40px;
    transition : all .2s .4s ;
}

.bg-items:nth-child(15n-3)>.items:hover>.lV {
    top : 0px;
    transition : all  .2s .6s;
}

/* thirteen */

.bg-items:nth-child(15n-2) .l, .bg-items:nth-child(15n-2) .ll{
    width : 120px;
    height: inherit;
    background-color : #594D3E;
    top : 0;
    transition : all .3s;
}

.bg-items:nth-child(15n-2) .l {
    left : 100%;
}

.bg-items:nth-child(15n-2) .ll {
    right : 100%;
}

.bg-items:nth-child(15n-2)>.items:hover>.l {
    transition : all .3s;
    left : 0;
}

.bg-items:nth-child(15n-2)>.items:hover>.ll {
    transition : all .3s;
    right : 0;
}

/* fourteen */

.bg-items:nth-child(15n-1) .l, .bg-items:nth-child(15n-1) .ll{
    width : 120px;
    height: inherit;
    background-color : #594D3E;
    top : 0;
    transition : all .3s;
}

.bg-items:nth-child(15n-1) .l {
    left : 100%;
}

.bg-items:nth-child(15n-1) .ll {
    right : 100%;
}

.bg-items:nth-child(15n-1)>.items:hover>.l {
    transition : all .3s;
    left : 50%;
}

.bg-items:nth-child(15n-1)>.items:hover>.ll {
    transition : all .3s;
    right : 50%;
}

/* fifteen */

.bg-items:nth-child(15n) .l {
    border-style : solid;
    border-width : 80px 120px 0 120px;			
    border-color : #594D3E transparent transparent transparent;
    transition   : all .3s;
    top : -80px;
}

.bg-items:nth-child(15n) .ll {
    border-style : solid;
    border-width : 80px 120px 80px 0;	
    border-color : transparent #594D3E transparent transparent;
    right : -120px;
    top   : 0;
    transition   : all .3s;
}

.bg-items:nth-child(15n) .lll {
    border-style : solid;
    border-width : 0 120px 80px 120px;
    border-color : transparent transparent #594D3E transparent;
    bottom : -80px;
    transition   : all .3s;
}

.bg-items:nth-child(15n) .lV {
    border-style : solid;
    border-width : 80px 0 80px 120px;	
    border-color : transparent transparent transparent #594D3E;
    left : -120px;
    top   : 0;
    transition   : all .3s;
}

.bg-items:nth-child(15n)>.items:hover>.l {
    top : 0px;
    transition : all .3s;
}

.bg-items:nth-child(15n)>.items:hover>.ll {
    right : 0px;
    transition : all .3s;
}

.bg-items:nth-child(15n)>.items:hover>.lll {
    bottom : 0px;
    transition : all .3s;
}

.bg-items:nth-child(15n)>.items:hover>.lV {
    left : 0px;
    transition : all .3s;
}
